<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Function</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <header class="bg-primary text-white text-center py-3">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="mb-0 me-4">The Function Blog</h1>
      <nav class="navbar navbar-light bg-primary">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link ms-3 " href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <button id="logout" class="btn btn-secondary ms-3">Logout</button>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link ms-3" href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </header>
  <main class="container py-4">
    <div>
      <!--iterate over each post and display any available-->
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/logout.js"></script>
  {{/if}}
</body>

</html>