{{#each posts}}
     <div class="card" class="mx-auto pt-8" style="width: 700px;">
  <div class="card-header">
    {{title}} Created: {{date_created}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>
      <footer class="blockquote-footer">By: {{user.name}}</cite></footer>
    </blockquote>
  </div>
</div> 
      {{/each}}