<main class="container py-4">
    {{#if loggedIn}}
    <div class="card mb-4">
      <div class="card-header">
        <h5>{{post.title}} Created: {{post.date_created}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{post.content}}</p>
        <footer class="blockquote-footer">By: {{post.user.name}}</footer>
      </div>
    </div>

    <form class="comment-form mb-4">
      <div class="form-group">
        <label for="comment-body">Add a comment:</label>
        <textarea class="form-control" name="comment-body" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
    {{/if}}

    {{> comments post.comments}}


{{#if loggedIn}}
<script src="../public/comment.js"></script>
{{/if}}